@* @{
  Layout = "_Layout";
}

@model RecipeBox.Models.Category

<h2>Remove category</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
  <input type="submit" value="Deassociate" />
}

<p>@Html.ActionLink("Back to list", "Index")</p> *@